html {
    font-family: sans-serif;
}

body {
    min-height: 100%;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 20px;
    color: #fff;
    background-color: #5c83d2;
    font-size: 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.hflex {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
}


a {
    text-decoration: underline;
}


li {
    padding-bottom: 10px;
}

.content {
    width: 600px;
    grid-row-gap: 64px;
    flex-direction: column;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.heading {
    color: #fff;
    overflow-wrap: normal;
    margin-top: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}

.list {
    padding-bottom: 0;
    padding-left: 0;
}

.divider {
    width: 100%;
    height: 2px;
    min-height: 2px;
    object-fit: fill;
    background-color: rgba(255, 255, 255, 0.3);
    order: -1;
}

.footer {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 80px;
}

.navbar {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    flex-direction: column;
    flex: 0 auto;
    margin-top: 8%;
    margin-left: 8%;
    display: flex;
    position: fixed;
}

.nav-link {
    
}

.ampelmann {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    align-items: center;
}
